// TODO Refacto avec em si nécessaire

@media screen and (max-width: 767px){
  .form--personne {
    height: 80vh;
    margin-bottom: 1rem;

    &__title {
      font-size: 1.5rem;
    }

    &__subtitle {
      font-size: 1.3rem;
    }


    &__btn {
      font-size: 1.2rem;
      height: 2.5rem;
      width: 20rem;
    }

    &__container--checkbox--1 {
      font-size: 1.41rem;
    }

  } 
}

@media screen and (min-width: 768px){
  .form--personne {
    height: 75vh;
    margin-bottom: 1rem;

    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1.8rem;
    }

    &__btn {
      font-size: 1.2rem;
      height: 2.5rem;
      width: 35rem;
    }

    &__container--checkbox--1 {
      font-size: 1.4rem;
    }
  } 
}

@media screen and (min-width: 1024px){
  .form--personne {
    height: 90vh;
    margin: 0 5rem 1rem 5rem;

    &__title {
      font-size: 2.5rem;
      margin: 0.5rem 0rem 1.8rem 0rem;
    }
  } 
}

@media screen and (min-width: 1250px){
  .form--personne {
    height: 75vh;
    margin: 0 0rem 1rem 0rem;

    &__title {
      font-size: 3rem;
      margin: 0.5rem 0rem 1.8rem 0rem;
    }

    &__container--four--label {
      display: flex;
      justify-content: space-between;
      height: 10rem;
    }

    &__subtitle {
      font-size: 2rem;
    }

    &__btn {
      font-size: 1.2rem;
      height: 3rem;
      width: 40rem;
    }

    &__container--checkbox--1 {
      font-size: 1.5rem;
    }
  }
}
