@use 'src/styles/vars';


.form--validation {
  background-color: rgba(255, 255, 255, 0.47);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    text-align: center;
    margin: 0.5rem 0rem 1rem 0rem;
    color: vars.$blue-color;
  }

  &__container--txtarea {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__label {
    color: vars.$blue-color;
    margin: 0.7rem 0 0.8rem 0;
    text-align: center;
  }

  
  &__btn {
    color: #fff;
    background-color: vars.$blue-color;
    font-weight: bold;
    border:none; 
    box-shadow: 2px 5px 15px 0px rgba(0, 0, 0,0.3);
    margin: 1rem 0;
    transition: box-shadow 500ms, border-radius 1s ease-in-out;
  }
}
