@use 'src/styles/vars';

.map {
  &__infos--container {
    display: flex;
    align-items: center;
    // color: black;
    // margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
  }

  &__title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: .3em;
    // color: vars.$blue-color;
    
  }

  &__data {
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.3em;
    font-weight: 500;
  }
}

.map__L:hover {
  transition: 0.7s ease-out;
}
.map__L:hover {
  transform: scale(1.7);
}
