@use 'src/styles/vars';

.map {
  background-color: vars.$pink-color;
  color: #fff;
  margin: 0rem 2.5rem 1rem 2.5rem;
  padding: 1.5rem 0rem;
  display: flex;
  justify-content: center;

  &__title {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    font-weight: bold;

  }

  &__data {
    font-size: 1.1rem;
    font-weight: 300;
  }

  &__img {
    margin-top: 1rem;
    height: 20rem;
    width: 12rem;
  }
}
