@use 'src/styles/vars';


.infos--page {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: vars.$blue-color;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: vars.$blue-color;
    margin: 1rem 0;
    font-weight: bold;
  }

  &__container--txt {
    display: flex;
    flex-direction: column;
    background-color: rgba(126, 177, 205, 0.257);
    padding: 1rem 1.2rem;
    border-radius: 15px;
  }

  &__txt {
    margin-bottom: 1rem;
    line-height: 1.4rem;
  }

  &__img {
    width: 95%;
  }
}
