@use 'src/styles/vars';

// Format Native en min 0 max 375 px

//! max-width == jusqu'à 375px ! ! ! 

// MOBILE
@media screen and (min-width: 426px){
 .contact--page {
  height: 30rem;

    &__img {
      width: 22rem;
    }
  
    &__title {
      font-size: 1.6rem;
    }
  
    &__container--data {
      height: 14rem;
      margin: 0rem 1rem;
      padding: 1rem 0.5rem;
    }

    &__btn {
      font-size: 1.5rem;
      padding: 0.5rem 1.5rem;
    }
  
  }
}

// TABLET 
@media screen and (min-width: 768px){
  .contact--page {
    height: 31rem;

    &__container--data {
      font-size: 1.2rem;
    }

    &__title {
      font-size: 2.2rem;
    }
    
  }
  
}
// LAPTOP 
@media screen and (min-width: 1024px){
  .contact--page {
    height: 38rem;

    &__img {
      width: 32rem;
    }

    &__container--data {
      height: 16rem;
      font-size: 1.5rem;
    }

    &__btn {
      font-size: 2.2rem;
      padding: 0.6rem 4rem;
    }
    
    &__btn:hover{
      box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.5);
      border-top-left-radius: 5000px;
      border-top-right-radius: 800px;
      border-bottom-right-radius: 8000px;
      border-bottom-left-radius: 800px;
    }
  }
  
}

@media screen and (min-width: 1250px){ 
  .contact--page {
    height: 42rem;
    padding-top: 2rem;

    &__container--data {
      padding: 1.5rem 3.5rem;
    }
    &__img {
      width: 40rem;
    }

    &__btn {
      height: 4rem;
    }
  }
}
