//? Tu as choisi c'est nom de class ou ils étaient dans la doc ? 
@use 'src/styles/vars';


.test {
  display: block;
  object-fit:cover;
  width: 100vw;
  height: 40vh;
  margin: 0 auto;
  // object-fit:contain;
  // height: 250px;
}
.slider-control-topcenter {
  display: none;
}
.slider-control-centerleft {
  display: none;
}  
.slider-control-centerright {
  display: none;
}



.slider-control-bottomcenter .info {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  color: #FFF;
  bottom: -6rem;
  border: 1.1px solid #006072;
  transform: translateX(-50%);
  width: 95vw;
  height: 9.5rem;
  background-color: rgba(0, 96, 114,0.5);
  &--title {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &--content {
    text-align: center;
    line-height: 1rem;
    font-size: 1.2rem;
  }

  &--link {
    margin-top: 0.5rem;;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.4s;
  }

  &--link:hover {
    color:rgba(0, 96, 114,0.5);
    transform: scale(1.1);
  }

}

.test_v2 {
  margin-bottom: 7rem;
}

