@use 'src/styles/vars';
// ? Surement du code à refacto quand on aura fini le reste

// Format Native en min 0 max 375 px

//! max-width == jusqu'à 375px ! ! ! 

// MOBILE
@media screen and (min-width: 426px) {
  .services--page {
    margin: 0rem 1.5rem 1rem 1.5rem;
    &__service--container {
      margin: 0rem 1.5rem 1rem 1.5rem;

    }
  }
}

// TABLET 
@media screen and (min-width: 768px){
  .services--page {
    margin: 0rem 2.5rem 1rem 2.5rem;

    &__title {
      font-size: 2rem;
    }

    &__container--title {
      font-size: 2rem;
      }
    
    &__container--txt {
      font-size: 1.15rem;
    }

    &__container--btn {
      font-size: 1.4rem;
      height: 2.9rem;
      width: 20rem; 
    }

    //! Service map

    &__service {
      margin: 0rem 1rem 1rem 1rem;
    }

    &__service--container {
      padding-bottom: 3rem;
    }

    &__service--title {
      font-size: 2rem;
    }

    &__service--txt {
      font-size: 1.2rem;
    }

    &__service--img {
      width: 80%;
    }

    &__service--btn {
      font-size: 1.4rem;
      height: 2.9rem;
      width: 20rem; 
    }
  }
  
}
// LAPTOP 
@media screen and (min-width: 1024px){
  .services--page {
    margin: 0rem 2.5rem 1rem 2.5rem;

    &__title {
      font-size: 4rem;
    }

    &__container--title {
      font-size: 2.8rem;
      }

    &__container--txt {
      font-size: 1.6rem;
    }

    &__container--btn {
      font-size: 1.4rem;
      height: 2.9rem;
      width: 20rem; 
    }

    &__container--btn:hover{
      box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.5);
      border-top-left-radius: 5000px;
      border-top-right-radius: 800px;
      border-bottom-right-radius: 8000px;
      border-bottom-left-radius: 800px;
    }

    //! Service map

    
    &__service--container {
      padding-left: 2rem;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    &__service--container:hover {
      transform: scale(1.01);
    }

    &__service--container--content {
      margin-left: 3rem;
      height: 22rem;
      align-items: flex-start;
      justify-content: space-around;
    }

    &__service--title {
      font-size: 2.5rem;
    }

    &__service--txt {
      font-size: 1.6rem;
    }

    &__service--img {
      padding: 0;
      width: 25rem;
      border: 1rem solid beige;
      border-radius: 8px;
      margin: 1rem 0 1rem -1rem;
    }

    &__service--btn {
      font-size: 1.4rem;
      height: 2.9rem;
      width: 20rem; 
    }

    &__service--btn:hover{
      box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.5);
      border-top-left-radius: 5000px;
      border-top-right-radius: 800px;
      border-bottom-right-radius: 8000px;
      border-bottom-left-radius: 800px;
    }
  }
  
}

@media screen and (min-width: 1250px){ 
  .services--page {
    margin: 0rem 1.4rem 1rem 1.4rem;

    &__container--btn {
      font-size: 1.4rem;
      height: 2.9rem;
      width: 20rem; 
    }

    &__service {
      margin: 0rem 0rem 1rem 0rem;
    }

    &__service--container {
      padding-left: 2rem;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    &__service--container--content {
      margin-left: 3rem;
      height: 17rem;
      align-items: flex-start;
      justify-content: space-around;
    }

    &__service--btn {
      margin-left: 18rem;
      font-size: 1.4rem;
      height: 2.9rem;
      width: 20rem; 
    }
  }
  
}

@media screen and (min-width: 1700px){ 
.services--page {

  &__container--btn {
    font-size: 1.6rem;
    height: 3rem;
    width: 23rem; 
  }

  &__service--btn {
    margin-left: 38rem;
    font-size: 1.6rem;
    height: 3rem;
    width: 23rem; 
  }
}

}
