@use 'src/styles/vars';

.services {
  color: #fff;
  
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-weight: 500;
    padding: 0.5rem;
  }

  &__img {
    width: 16rem;
  }

  &__btn {
    margin-top: -0.9rem;
    color: #fff;
    background-color: vars.$blue-color;
    font-size: 0.9rem;
    font-weight: bold;
    height: 1.8rem;
    width: 6.9rem;
    border:none; 
    box-shadow: 2px 5px 15px 0px rgba(0, 0, 0,0.3);
    border-top-left-radius: 800px;
    border-top-right-radius: 5000px;
    border-bottom-right-radius: 800px;
    border-bottom-left-radius: 8000px;
  }
}
