@use 'src/styles/vars';


.services {
  color: black;
  background-color: vars.$pink-color;
  margin: 0rem 2.5rem 1rem 2.5rem;
  height: 11rem;
  color: white;
  
  
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s ease-in;
    transition: 0.8s ease-out;


  }

  &__title {
    font-weight: 500;
    padding: 0.5rem;
    transition: 0.2s ease-in;
    transition: 0.8s ease-out;
    cursor: zoom-in;

  }

  &__img {
    width: 13.5rem;
  }

  &__btn {
    margin-top: -0.42rem;
    height: 1.8rem;
    width: 8.5rem;
    color: #fff;
    background-color: vars.$blue-color;
    font-size: 0.9rem;
    font-weight: bold;
    border:none; 
    box-shadow: 2px 5px 15px 0px rgba(0, 0, 0,0.3);
    border-top-left-radius: 800px;
    border-top-right-radius: 5000px;
    border-bottom-right-radius: 800px;
    border-bottom-left-radius: 8000px;
    transition: box-shadow 500ms, border-radius 1s ease-in-out;
  } 
}
