@use 'src/styles/vars';

// Format Native en min 0 max 375 px

//! max-width == jusqu'à 375px ! ! ! 

// MOBILE
@media screen and (min-width: 0px) and (max-width: 425px) {
  
  .services {
    background-color: vars.$pink-color;
    margin: 0rem 2.5rem 1rem 2.5rem;
    height: 11rem;


    &__img {
      width: 13.5rem;
    }
  }
}

// TABLET 
@media screen and (min-width: 426px) {
  
  .services {
    background-color: vars.$pink-color;
    margin: 0rem 3.5rem 1rem 3.5rem;


    &__img {
      width: 18.8rem;
    }
  }    
}

// TABLET 
@media screen and (min-width: 768px){
  

  .services {
    margin: 0rem 9rem 1rem 9rem;
    height: 18rem;


    &__img {
      width: 25rem;
    }
  }
  
}
// LAPTOP 
@media screen and (min-width: 1024px){
  
  .services__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    background-color: vars.$pink-color;
  }

  .services {
    margin: 2rem 0.6rem 0rem 0.6rem;
    width: calc(1/4.2*100%);
    height: 12.5rem;


    &__container {
      background-color: vars.$beige-color;
    }
    &__img {
      width: 13.37rem;
    }
  }
  
}

@media screen and (min-width: 1250px){ 
  .services {
    margin: 2rem 2rem 0rem 2rem;
    width: calc(1/4*100%);
    height: 13.9rem;

    &__container {
      height: 12rem;
    }

    &__img {
      width: 15.37rem;
    }
  }
}

  @media screen and (min-width: 1700px){ 
    .services {
      margin: 2rem 3.8rem 0rem 3.8rem;
      width: calc(1/4*100%);
      height: 13.9rem;
  
      &__container {
        height: 12rem;
      }
  
      &__img {
        width: 15.37rem;
      }
    }
  
}
