@use 'src/styles/vars';

// Format Native en min 0 max 375 px

//! max-width == jusqu'à 375px ! ! ! 

// MOBILE
@media screen and (max-width: 375px) {

  .nav {
    display: flex;
    flex-direction: column;
    &__btn {
        font-size: 1.4rem;
        padding: 0.7rem;
        height: 3rem;
      }
    &__responsive--display {
      display: none ;
    }
  }
}

// TABLET 
@media screen and (min-width: 376px) and (max-width: 1023px) {

  .nav {
    display: flex;
    flex-direction: column;
    &__btn {
        font-size: 1.4rem;
        padding: 0.7rem;
        height: 3rem;
      }
    &__responsive--display {
      display: none ;
    }
  }
}
// MEDIUM Size
@media screen and (min-width: 1024px) {

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: vars.$pink-color;

    &__btn {
      color: #fff;
      background-color: vars.$blue-color;
      font-size: 1.31rem;
      font-weight: bold;
      height: 3.18rem;
      border:none; 
      box-shadow: 2px 5px 15px 0px rgba(0, 0, 0,0.3);
      border-top-left-radius: 800px;
      border-top-right-radius: 5000px;
      border-bottom-right-radius: 800px;
      border-bottom-left-radius: 8000px;
      margin: 1rem 0;
      transition: box-shadow 500ms, border-radius 1s ease-in-out;
    }
    &__btn:hover{
      box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.5);
      border-top-left-radius: 5000px;
      border-top-right-radius: 800px;
      border-bottom-right-radius: 8000px;
      border-bottom-left-radius: 800px;
    }
  
    &__btn:nth-child(1) {
      width: 9.81rem;
      
    }
  
    &__btn:nth-child(2) {
      width: 14.37rem;
    }
  
    &__btn:nth-last-child(2) {
      width: 13.62rem;
    }
  
    &__btn:last-child {
      width: 9.81rem;
    }
    .nav__responsive--display {
      display: initial ;
    }
  }

  #menu_button {
    display: none;
  }

  .header {
    margin:0;

    &__title {
      font-size: 2rem;
      font-weight: bold;
    }
  }
}


// DESKTOP 
@media screen and (min-width: 1080px) {

  .app {
    width: 90%;
    margin: 0 auto;
  }

  .top__header {
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.5);
  }
}
