@use 'src/styles/vars';

// Format Native en min 0 max 375 px

//! max-width == jusqu'à 375px ! ! ! 

// MOBILE
@media screen and (min-width: 0px) and (max-width: 425px) {
  .service--details {
    &__img {
      width: 17rem;
    }

    &__title {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem 0;
    }

    &__txt {
    line-height: 1.5rem;
    max-width: 90%;
    }
  }
}

// TABLET 
@media screen and (min-width: 426px) {
  .service--details {
    &__img {
      width: 23rem;
    }

    &__title {
      font-size: 1.8rem;
    }
    &__txt {
      line-height: 1.5rem;
      max-width: 90%;
      }
  }
}

// TABLET 
@media screen and (min-width: 768px){
  .service--details {
    &__img {
      width: 30rem;
    }

    &__title {
      font-size: 2rem;
    }
  }
}
// LAPTOP 
@media screen and (min-width: 1024px){
  .service--details {
    &__img {
      width: 35rem;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__txt {
      font-size: 1.6rem;
      line-height: 2.5rem;
      max-width: 90%;
      }

    &__txt:hover {
      transform: scale(1.1);
      background-color: rgba(255, 255, 255, 0.509);
      // max-width: 60%;
    }

    &__btn:hover{
      box-shadow: 2px 5px 20px 3px rgba(0, 0, 0, 0.5);
      border-top-left-radius: 5000px;
      border-top-right-radius: 800px;
      border-bottom-right-radius: 8000px;
      border-bottom-left-radius: 800px;
    }
  }
}

@media screen and (min-width: 1250px){ 
  .service--details {
    &__img {
      width: 40rem;
    }

    &__title {
      font-size: 2.8rem;
    }

    &__txt {
      font-size: 1.8rem;
    }
  }
}
