@use 'src/styles/vars';

// Format Native en min 0 max 375 px

//! max-width == jusqu'à 375px ! ! ! 

// MOBILE
@media screen and (min-width: 0px) and (max-width: 425px) {
  .service--details {
    &__img {
      width: 17rem;
    }

    &__title {
      font-size: 1.5rem;
      margin: 1rem 0 0.5rem 0;
    }
  }
}

// TABLET 
@media screen and (min-width: 426px) {
  .service--details {
    &__img {
      width: 23rem;
    }

    &__title {
      font-size: 1.8rem;
    }
  }
}

// TABLET 
@media screen and (min-width: 768px){
  .service--details {
    &__img {
      width: 30rem;
    }

    &__title {
      font-size: 2rem;
    }
  }
}
// LAPTOP 
@media screen and (min-width: 1024px){
  .service--details {
    &__img {
      width: 35rem;
    }

    &__title {
      font-size: 2.5rem;
    }

    &__txt {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1250px){ 
  .service--details {
    &__img {
      width: 40rem;
    }

    &__title {
      font-size: 2.8rem;
    }

    &__txt {
      font-size: 1.8rem;
    }
  }
}
